<li class="media {{if message.mine 'mine'}}">
	<div class="media-left">
		<img class="media-object" src="{{message.avatar}}" alt="avatar">
	</div>
	<div class="media-body">
		<h4 class="media-heading">{{message.username}}</h4>
		<span>{{message.message}}</span>
	</div>
</li>

{{yield}}
